﻿@model Innovix_Task.ViewModels.ReservationViewModel

<form asp-action="ReservationTotal" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="Name">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="Email">
    </div>

    <div class="form-group">
        <label for="Country">Country</label>
        <input asp-for="Country" type="text" class="form-control" id="Country">
    </div>

    <div class="form-group">
        <label for="Adults">Adults</label>
        <input asp-for="Adults" type="number" class="form-control" id="Adults">
    </div>

    <div class="form-group">
        <label for="Childrens">Childrens</label>
        <input asp-for="Childrens" type="number" class="form-control" id="Childrens">
    </div>

    <div class="form-group">
        <label for="Type">Room Type</label>
        <select asp-for="Type" class="form-control"
                asp-items="Html.GetEnumSelectList<RType>()">
            <option value="">Select Room Type</option>
        </select>
    </div>
    <div class="form-group">
        <label>Season Type</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="IsHighSeason" value="false">
            <label class="form-check-label" for="flexRadioDefault1">
                Low Season
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" asp-for="IsHighSeason" type="radio" value="true" />
            <label class="form-check-label" for="flexRadioDefault2">
                High Season
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="MealType">Meal Type</label>
        <select asp-for="MealType" class="form-control"
                asp-items="@(Model.IsHighSeason == true 
                            ? new SelectList(Model.MealPlans.Where(m => m.IsHighSeason == true).ToList(),"MealType","MealType")
                            : new SelectList(Model.MealPlans.Where(m => m.IsHighSeason == false).ToList(),"MealType","MealType"))">

            <option value="">Select Meal Type</option>
        </select>
    </div>


    <div class="form-group">
        <label for="checkIn">CheckIn Date</label>
        <input asp-for="CheckInDate" type="text" class="form-control" id="checkIn">
    </div>

    <div class="form-group">
        <label for="checkOut">CheckOut Date</label>
        <input asp-for="CheckOutDate" type="text" class="form-control" id="checkOut">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>